@model Brand

@{
    ViewData["Title"] = "Create Brand";
}


<h1>Create a new Brand</h1>

<form asp-controller="Brand" asp-action="Create" method="post" class="form-control">

	<div asp-validation-summary="All"></div>

	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
	</div>

	<input type="submit" value="ADD BRAND" class="btn btn-primary btn-sm" />

</form>