@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>keewee was here !!!!!</p>
    <p>Marko feature 10</p>
    <p>Daniel Was Here</p>
</div>
