@{
	ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is a Lexicon student project where the goal is to create a web shop.<br />
	The project is built as an ASP.NET Core MVC solution.
</p>
<p>
	<strong>Required Features:</strong>
	<ul>
		<li>
			Ability to create and edit Users
		</li>
		<li>
			Ability to create and edit Products
		</li>
		<li>
			Handling orders, allowing users to place them, allowing admins to
			change them etc…
		</li>
		<li>
			A shopping cart, ability to go to cashier and print out a receipt
		</li>
		<li>
			Shopping history in the User’s management page
		</li>
		<li>
			Display pictures of all the products
		</li>
	</ul>
</p>

<strong>Members of this project group:</strong>

<p>
	
	Daniel<br />
	Pedro<br />
	Danielle<br />
	Marko<br />
</p>

